.jumbotron {
    position: relative;
    background: #000 url("/static/images/ecuador.jpg") center center;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    text-align: right;
    margin-bottom: 0;
    height: 100vh;
}

.container {
    width: 960px;
}

.display-3 {
    margin-top: 50px;
    font-family: 'Amatic SC', serif;
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;
}

.jumbo-subheader {
    font-family: 'Amatic SC', serif;
    font-size: 33px;
    padding-top: 0;
}

p.jumbo-subheader {
    font-size: 33px;
    color: black;
}