.nav-bar {
    background-color: #123C69;
    height: 70px;
    left: 0;
    line-height: 70px;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 9999;
}

#nav-bar-container {
    height: 70px;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 960px;
    z-index: 9999;
}

.name-block {
    color: #fff;
    font-family: 'Amatic SC', serif;
    font-size: 38px;
    letter-spacing: 1.5px;
    padding-left: 10px;
    text-align: left;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #AC3B61;
}

.nav-bar ul {
    bottom: 90px;
    color: #fff;
    font-family: 'Amatic SC', serif;
    font-size: 28px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:relative;
}

.dropdown-menu {
    background-color: #fff;
}

.nav-bar li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
}

/*==============================================================================
Mobile Nav Bar Hamburger
==============================================================================*/

.hamburger {
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height: 45px;
    padding: 10px 20px 0 0;
    color: #fff;
    font-size: 0.9em;
    border:0;
    cursor:pointer;
    outline:none;
    z-index:10000;
}

.x {
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding: 20px 25px 0px 20px;
    color: #fff;
    border:0;
    line-height:60px;
    font-size: 1.5em;
    cursor:pointer;
    outline:none;
    z-index:10000;
}

.menu{
    z-index:1000000;
    font-weight:bold;
    font-size:0.8em;
    width:100%;
    /*TODO: make this height: 84vh for homepage only*/
    height: 100vh;
    background:#f1f1f1;
    position:absolute;
    text-align:center;
    font-size:12px;
}
/*.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
.menu li {
    display: block;
    padding:15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
}
.menu li:hover{
    display: block;
    background:#ffffff;
    padding:15px 0 15px 0;
    border-bottom:#dddddd 1px solid;
}
.menu ul li a {
    text-decoration: none;
    margin: 0px;
    color:#666;
}
.menu ul li a:hover {
    color: #666;
    text-decoration:none;
}
.menu a {
    text-decoration:none;
    color:#666;
}
.menu a:hover{text-decoration:none; color:#666;}*/

/*.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}*/
/*header{display:inline-block; font-size:12px;}
span{padding-left:20px;}*/
a{color:#336699;}
