[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

Django = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
dj-database-url = "*"
"boto3" = "*"
django-storages = "*"
Pillow = "*"
