.container {
    width: 960px;
}

.display-3 {
    margin-top: 50px;
    font-family: 'Quicksand', serif;
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;
}

.jumbo-subheader {
    font-family: 'Quicksand', serif;
    font-size: 20px;
    padding-top: 0;
}

p.jumbo-subheader {
    font-size: 20px;
    color: black;
}

.welcome-message {
    position: fixed;
    width: inherit;
    padding-right: 20px;
}
