{% load staticfiles%}

<div id="about">
    <div class="body-container site-content first">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12 hello-world">
                    <h1>Hello, World! 👋</h1>
                    <p>
                        <span class="emphasis">I'm an energetic and outgoing Software Engineer with a
                        never-ending thirst for knowledge.</span> Before learning my first programming
                        language, I held successful positions as a community organizer for a political
                        nonprofit organization, and a microbiologist for academic and government
                        research institutions.
                    </p>
                    <p>
                        In all of these roles, I found myself performing necessary
                        but monotonous tasks that consumed much of my time. Determined to never spend hours
                        staring at a spreadsheet again, I decided to learn how to build web applications
                        to automate repetitive tasks.
                    </p>
                    <p>
                        The first thing I built was a web application that helped our team coordinator organize
                        groups for team lunch. The app consisted of a form that collected two lists of email addresses.
                        Upon submitting the form, the two lists were merged, randomized, and split
                        into small groups using Python.
                    </p>
                    <p>
                        My lunch group organizer app took a time-consuming task and reduced it
                        to the click of a button. I was hooked - I fell in love with software development.
                        I now work as a software engineer, building internal tools for the amazing personal
                        genetics company, 23andMe. <span class="emphasis">My favorite web applications
                        to build are those that make someone's life easier by helping them do
                        their job more efficiently.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="dark">
        <div class="body-container site-content">
            <div class="page-content">

                <div class="row hide-for-mobile">
                    <div class="col-xs-12">
                        <h1>Fun Facts 🎉</h1>
                    </div>
                </div>

                <div class="row hide-for-mobile">
                    <div class="col-xs-6 fun-facts-list">
                        <ul>
                            <li>
                                During my first year of college, I worked full-time selling
                                chickens at a chicken hatchery 🐓
                            </li>
                            <li>
                                I once broke my leg while running a 5k and finished first place in my age group 💪
                            </li>
                            <li>
                                I am fascinated with John F. Kennedy and Jackie Kennedy. I have
                                visited Kennedys museums in Boston, Portland, and Berlin, Germany 📚
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-6 fun-facts-list">
                        <ul>
                            <li>
                                I once embarassed myself by calling a radio station to sing "I Want a Hippopotamus for
                                Christmas" on the air and singing the wrong words 🎄
                            </li>
                            <li>
                                My favorite Halloween costume was from 2017, when I dressed up as
                                a web server (pictured below) 💻
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row hide-for-desktop hide-for-tablet">
                    <div class="col-xs-12">
                        <h1>Fun Facts 🎉</h1>

                        <div class="fun-facts-list">
                            <ul>
                                <li>
                                    During my first year of college, I worked full-time selling
                                    chickens at a chicken hatchery 🐓
                                </li>
                                <li>
                                    I once broke my leg while running a 5k and finished first place in my age group 💪
                                </li>
                                <li>
                                    I am fascinated with John F. Kennedy and Jackie Kennedy. I have
                                    visited Kennedys museums in Boston, Portland, and Berlin, Germany 📚
                                </li>
                                <li>
                                    I once embarassed myself by calling a radio station to sing "I Want a Hippopotamus for
                                    Christmas" on the air and singing the wrong words 🎄
                                </li>
                                <li>
                                    My favorite Halloween costume was from 2017, when I dressed up as
                                    a web server (pictured below) 💻
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="body-container site-content extra-margin">
        <div class="page-content">

            <div class="row hide-for-mobile">
                <div class="col-xs-12 halloween-desktop">
                    <h1>Halloween 🎃</h1>
                    <p>
                        My favorite past Halloween costume was a web server. I wore a waitress apron and carried
                        a serving tray with three champagne glasses representing HTTP status codes.
                        One glass was full of champagne (200 OK), another glass was broken (500 Internal
                        Server Error), and the third glass was empty - 404 Champagne not Found!
                    </p>
                </div>
            </div>
            <div class="row hide-for-mobile">
                <div class="col-xs-4 col-xs-offset-1">
                    <img class="full-width" src="{% static 'images/web_server_costume.jpg' %}" alt="Web server Halloween costume" />
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                    <img class="full-width" src="{% static 'images/web_server_tray.jpg' %}" alt="Web server tray" />
                </div>
            </div>

            <div class="row hide-for-desktop hide-for-tablet">
                <div class="col-xs-12">
                    <h1>Halloween 🎃</h1>
                    <p>
                        My favorite past Halloween costume was a web server. I wore a waitress apron and carried
                        a serving tray with three champagne glasses representing HTTP status codes.
                        One glass was full of champagne (200 OK), another glass was broken (500 Internal
                        Server Error), and the third glass was empty - 404 Champagne not Found!
                    </p>
                    <br>
                    <img class="full-width" src="{% static 'images/web_server_costume.jpg' %}" alt="Web server Halloween costume" />
                    <img class="full-width" src="{% static 'images/web_server_tray.jpg' %}" alt="Web server tray" />
                </div>
            </div>

        </div>
    </div>

    <div class="dark">
        <div class="body-container site-content">
            <div class="page-content">
                <div class="row quote">
                    <p>
                        <em>"Nothing in this world can take the place of persistence.
                        Talent will not; nothing is more common than unsuccessful
                        men with talent. Genius will not; unrewarded genius is almost
                        a proverb. Education will not; the world is full of educated
                        derelicts. Persistence and determination alone are omnipotent."</em>
                    </p>
                    <p>
                        - Calvin Coolidge 🇺🇸
                    </p>
                </div>
            </div>
        </div>
    </div>
