{% load staticfiles %}

<!--

© Copyright 2018 Patricia Penton
All rights reserved

-->

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        {% block ogtags %}{% endblock %}
        <meta name="twitter:site" content="@pkpenton"/>
        <meta name="twitter:card" value="summary"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'javascript/hamburger.js' %}"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Quicksand" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body class="site">
        <header>
            {% include "static_pages/navbar.html" %}
        </header>

        {% block content %}
        {% endblock %}

        {% include "static_pages/footer.html" %}
    </body>
</html>
