{% load staticfiles %}

<div class="sticky-footer">
    <a href="https://twitter.com/pkpenton" target="_blank">
        <img class="footer-twitter" src="{% static 'images/twitter_white.png' %}" alt="Twitter"/>
    </a>
    <a href="https://www.linkedin.com/in/patriciapenton/" target="_blank">
        <img class="footer-linkedin" src="{% static 'images/linkedin_white.png' %}" alt="LinkedIn"/>
    </a>
    <a href="https://github.com/pkpenton" target="_blank">
        <img class="footer-github" src="{% static 'images/github_white.png' %}" alt="GitHub"/>
    </a>
    <a href="mailto:pkpenton@gmail.com">
        <img class="footer-envelope" src="{% static 'images/envelope_white.png' %}" alt="Email"/>
    </a>
</div>