{% extends 'static_pages/base.html' %}

{% block title %}
    Patricia Penton
{% endblock %}

{% block ogtags %}
    <meta property="og:image" content="http://patricia-penton.s3.amazonaws.com/images/ecuador_og.jpg"/>
    <meta property="og:title" content="Patricia Penton"/>
    <meta property="og:description" content="Software Engineer with a passion for learning new technologies."/>

    <meta name="twitter:card" value="summary_large_image"/>
    <meta name="twitter:image" content="http://patricia-penton.s3.amazonaws.com/images/ecuador_og.jpg"/>
    <meta name="twitter:title" content="Patricia Penton"/>
    <meta name="twitter:description" content="Software Engineer with a passion for learning new technologies."/>
{% endblock %}

{% block content %}
    <div class="site-content">
        <div class="jumbotron jumbotron-fluid animated infinite">
            <div class="container">
                <div class="welcome-message">
                    <h1 class="display-3">Welcome</h1>
                    <p class="jumbo-subheader">Please explore</p>
                </div>
            </div>
        </div>
    </div>

    <!-- {% include "static_pages/about.html" %} -->

{% endblock %}
