{% load staticfiles %}

<div class="nav-bar">
    <div id="nav-bar-container" class="hide-for-mobile">
        <div class="name-block">
            Patricia Penton
        </div>
        <ul>
            <li><a href="/">Home</a></li>|
            <li><a href="/resume/">R&eacute;sum&eacute;</a></li>|
            <li><a href="{% url 'post_list' %}">Blog</a></li>
            <!-- TODO: add link to games page -->
            <!-- <li><a href="???">Games</a></li> -->
        </ul>
    </div>

    <div class="mobile-name-block hide-for-desktop hide-for-tablet">
        Patricia Penton
    </div>
    <!-- TODO: Add sandwich drop down link -->
    <!-- <ul class="mobile-nav-links hide-for-desktop hide-for-tablet">
        <li><a href="{% url 'resume' %">R&eacute;sum&eacute;</a></li>|
        <li><a href="{% url 'post_list' %}">Blog</a></li>
        TODO: add link to games page
        <li><a href="???">Games</a></li>
    </ul> -->
</div>
