{% load staticfiles %}

<div class="nav-bar">
    <div id="nav-bar-container" class="hide-for-mobile">
        <div class="name-block">
            <a href="/">Patricia Penton</a>
        </div>
        <div class="nav-desktop">
            <ul>
                <li><a href="/about/">About</a></li>|
                <li><a href="{% static 'pdf/penton_resume_03_18.pdf' %}">R&eacute;sum&eacute;</a></li>|
                <li><a href="{% url 'post_list' %}">Blog</a></li>
            </ul>
        </div>
    </div>

    <div class="mobile-name-block hide-for-desktop hide-for-tablet">
        Patricia Penton
    </div>
    <div class="hide-for-desktop hide-for-tablet">
        <button class="hamburger">&#9776;</button>
        <button class="x">&#735;</button>
        <div class="menu">
            <ul>
                <a href="/about/"><li>About</li></a>
                <a href="/resume/"><li>R&eacute;sum&eacute;</li></a>
                <a href="{% url 'post_list' %}"><li>Blog</li></a>
            </ul>
        </div>
    </div>
</div>
