{% extends 'static_pages/base.html' %}

{% block title %}
    Resume
{% endblock %}

{% block content %}
    <div class="body-container site-content first">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Employment Experience</h1>

                    <h2 class="job-title">Software Engineer</h2>
                    <h2 class="company"><a href="http://23andme.com" target="_blank">23andMe</a></h2>
                    <h3>April 2107 - Present</h3>
                    <ul>
                        <li>Solves challenging engineering problems that come with building a
                            highly interactive website and manipulating large amounts of data
                        </li>
                        <li>
                            Designs and implements new features using test driven development
                        </li>
                        <li>
                            Technologies in use: Python, Django, MySQL, HTML, CSS, Sass, YAML, Jinja, Git
                        </li>
                    </ul>

                    <h2 class="job-title">Engineering Research Assistant</h2>
                    <h2 class="company"><a href="https://23andme.com" target="_blank">23andMe</a></h2>
                    <h3>June 2015 - April 2017</h3>
                    <ul>
                        <li>Built and maintained web-based interfaces that supported
                            recruitment, enrollment, and engagement efforts for research studies
                        </li>
                        <li>
                            Created, tested, and debugged automated emails and web banners
                            targeted to specific subsets of 23andMe research participants
                        </li>
                        <li>
                            Technologies used: HTML, CSS, Sass, YAML, Jinja, Git
                        </li>
                    </ul>

                    <h2 class="job-title">Microbiologist</h2>
                    <h2 class="company">
                        <a href="https://www.cdc.gov/" target="_blank">US Centers for Disease Control</a>
                    </h2>
                    <h3>October 2013 - June 2015</h3>
                    <ul>
                        <li>
                            Sequenced the genome of <em>Corynebacterium minutissimum</em>
                        </li>
                        <li>
                            Findings were published in
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/25792058" target="_blank">
                            Genome Announcements
                            </a>
                        </li>
                        <li>Contributed DNA sequence analysis of 16S rRNA and bacterial photography for
                            <a href="https://www.cdc.gov/microbenet/index.html" target="_blank">
                                MicrobeNet</a>, a web-based tool for identification of microbial pathogens
                        </li>
                        <li>Techniques &amp; technologies used: Geneious, Applied Biosystems 3130 genetic analyzer,
                            RT-PCR, bacterial DNA extraction from clinical samples, bright-field microscopy
                        </li>
                    </ul>

                    <h2 class="job-title">Supplemental Instructor</h2>
                    <h2 class="company">
                        <a href="https://www.uc.edu/aess/lac/si.html" target="_blank">University of Cincinnati</a>
                    </h2>
                    <h3>September 2010 - April 2013</h3>
                    <ul>
                        <li>Conducted group review sessions for students enrolled in the
                            Introductory Biology course series
                        </li>
                        <li>
                            Students who attended attended my sessions earned higher grades in
                            Biology and a higher overall GPA than their non-attending peers
                        </li>
                        <li>
                            Favorite cooperative learning techniques: think-pair-share, jigsaw
                        </li>
                    </ul>

                    <h2 class="job-title">Field Manager, Community Organizer</h2>
                    <h2 class="company">
                        <a href="https://www.workingamerica.org/" target="_blank">Working America</a>
                    </h2>
                    <h3>March 2007 - November 2008</h3>
                    <ul>
                        <li>Developed, supervised and managed a team of canvass staff to do high
                            quality community outreach and organizing
                        </li>
                        <li>
                            Consistently met and surpassed weekly requirements for recruitment,
                            calls to action, voter registration, and fundraising
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="dark">
        <div class="body-container site-content">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Research &amp; Publications</h1>

                        <h2 class="job-title">HIV Compartmentalization in the Liver</h2>
                        <h2 class="company">
                            <a href="https://med.uc.edu/intmed/divisions/digestive" target="_blank">
                                University of Cincinnati College of Medicine
                            </a>
                        </h2>
                        <h3 class="pi">Principal Investigator: Jason T. Blackard, PhD</h3>
                        <ul>
                            <li>
                                The major goals of this study were
                                <ol>
                                    <li>
                                        to assess HIV compartmentalization in the liver using phylogenetic and
                                        biostatistical analyses
                                    </li>
                                    <li>
                                        to identify specific amino acid residues associated
                                        with HIV infection of the liver
                                    </li>
                                </ol>
                            </li>
                            <li>
                                Findings were published in
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/24074301" target="_blank">
                                    AIDS Research and Human Retroviruses
                                </a>
                            </li>
                            <li>
                                Technologies used: ClustalX, MEGA, VESPA, Permute, NJplot, CodonCode Aligner, BioEdit
                            </li>
                        </ul>

                        <h2 class="job-title">Hepatitis B Virus Resistance Mutations Associated with Tenofovir Treatment</h2>
                        <h2 class="company">
                            <a href="https://med.uc.edu/intmed/divisions/digestive" target="_blank">
                                University of Cincinnati College of Medicine
                            </a>
                        </h2>
                        <h3 class="pi">Principal Investigator: Jason T. Blackard, PhD</h3>
                        <ul>
                            <li>
                                The major goal of this project was to identify HBV resistance mutations associated
                                with the use of tenofovir gel among women participating in the
                                <a href="http://science.sciencemag.org/content/329/5996/1168" target="_blank">
                                CAPRISA 004 trial</a>
                            </li>
                            <li>
                                Findings were published in
                                <a href="http://online.liebertpub.com/doi/full/10.1089/aid.2014.5482.abstract" target="_blank">
                                    AIDS Research and Human Retroviruses
                                </a>
                            </li>
                            <li>
                                Technologies used: molecular cloning, RT-PCR, ClustalX, CodonCode Aligner, BioEdit
                            </li>
                        </ul>

                        <h2 class="job-title">Complete Genome Sequence of <em>Corynebacterium minutissimum</em></h2>
                        <h2 class="company">
                            <a href="https://www.cdc.gov/ncezid/dhcpp/bacterial_special/index.html" target="_blank">
                                US Centers for Disease Control and Prevention
                            </a>
                        </h2>
                        <h3 class="pi">Principal Investigator: John R. McQuiston, PhD</h3>
                        <ul>
                            <li>
                                The goal of this study was to obtain the whole genome sequence of
                                <em>Corynebacterium minutissimum</em>, an opportunistic pathogen and the causative
                                agent of erythrasma, through next-generation sequencing
                            </li>
                            <li>
                                Findings were published in
                                <a href="http://genomea.asm.org/content/3/2/e00139-15.long" target="_blank">
                                    Genome Announcements
                                </a>
                            </li>
                            <li>
                                Techniques &amp; technologies used: phenol-chloroform-CTAB extraction,
                                Illumina HiSeq 2000
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container site-content">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Education</h1>

                    <h2 class="job-title">Bachelor of Science, Cell &amp; Molecular Biology</h2>
                    <h2 class="company">
                        <a href="http://www.artsci.uc.edu/departments/biology.html" target="_blank">
                            University of Cincinnati
                        </a>
                    </h2>
                    <ul>
                        <li>Departmental honors in biology</li>
                        <li>University Honors Scholar</li>
                        <li>President &amp; Founding Member, UC SymBIOsis Biology Club</li>
                    </ul>

                    <h2 class="job-title">Certificate, Full Stack Web Development</h2>
                    <h2 class="company">
                        <a href="https://bootcamp.berkeley.edu/coding/curriculum/" target="_blank">
                            University of California, Berkeley
                        </a>
                    </h2>
                    <ul>
                        <li>
                            Topics &amp; technologies covered: HTML, CSS, Bootstrap, JavaScript, jQuery, Node.js,
                            MySQL, Python, MVC, REST, algorithms, data structures
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="dark last">
        <div class="body-container site-content">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Volunteer</h1>

                        <h2 class="job-title">Warehouse Volunteer</h2>
                        <h2 class="company">
                            <a href="https://www.sfmfoodbank.org/" target="_blank">SF-Marin Foodbank</a>
                        </h2>

                        <br>

                        <h2 class="job-title">Solar Panel Installer</h2>
                        <h2 class="company">
                            <a href="http://www.sunwork.org/" target="_blank">SunWork Renewable Energy Projects</a>
                        </h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
