{% load staticfiles %}

<html>
    <head>
        <title>Django Girls blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body class="site">
        <header>
            {% include "blog/navbar.html" %}
        </header>

        <div class="body-container site-content">
            <div class="page-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% include "blog/footer.html" %}
    </body>
</html>