{% extends 'blog/blog_base.html' %}

{% block content %}
    <div class="body-container site-content first">
        <div class="page-content">
            {% for post in posts %}
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            {{ post.published_date }}
                        </p>
                        <h1>
                            <a class="blog-h1" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                        </h1>
                    </div>
                </div>

                <div class="row">
                    {% if post.list_image %}
                    <div class="col-xs-3">
                            <img class="full-width" src="{{ post.list_image.url }}" alt="Blog post image">
                    </div>
                    <div class="col-xs-9">
                        <p>
                            {% autoescape off %}
                            {{ post.text_preview|linebreaksbr|truncatechars:300 }}
                            <a class="read-more" href="{% url 'post_detail' pk=post.pk %}">read more</a>
                            {% endautoescape %}
                        </p>
                    </div>
                    {% else %}
                    <div class="col-xs-12">
                        <p>
                            {% autoescape off %}
                            {{ post.text_preview|linebreaksbr|truncatechars:300 }}
                            <a class="read-more" href="{% url 'post_detail' pk=post.pk %}">read more</a>
                            {% endautoescape %}
                        </p>
                    </div>
                    {% endif %}
                </div>

                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
