{% extends 'blog/blog_base.html' %}

{% block ogtags %}
    <meta property="og:image" content="{{ post.list_image.url }}"/>
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="Patricia Penton Blog"/>

    <meta name="twitter:card" value="summary_large_image"/>
    <meta name="twitter:image" content="{{ post.list_image.url }}"/>
    <meta name="twitter:title" content="{{ post.title }}"/>
    <meta name="twitter:description" content="Patricia Penton Blog"/>
{% endblock %}

{% block content %}
<div class="body-container site-content first">
    <div class="page-content">
        <div class="blog-detail">
            {% if post.published_date %}
                <p class="blog-date">
                    {{ post.published_date.date }}
                </p>
            {% endif %}
            <h1>{{ post.title }}</h1>
            {% autoescape off %}
                {{ post.text|linebreaksbr }}
            {% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}