{% extends 'blog/blog_base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="{% cycle 'light-blog' 'dark-blog' %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
        <div class="body-container site-content">

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="blog-date">
                            {{ post.published_date.date }}
                        </p>
                        <h1 class="blog-h1">
                            {% if post.medium_post %}
                                <a href="{{ post.medium_url }}" target="_blank">{{ post.title }}</a>
                            {% else %}
                                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                            {% endif %}
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                            <img class="full-width" src="{{ post.list_image.url }}" alt="Blog post image">
                    </div>
                    <div class="col-xs-8">
                        <p>
                            {% autoescape off %}
                            {{ post.text_preview|linebreaksbr|truncatechars:260 }}
                            {% if post.medium_post %}
                                <a class="read-more" href="{{ post.medium_url }}" target="_blank">read more on Medium</a>
                            {% else %}
                                <a class="read-more" href="{% url 'post_detail' pk=post.pk %}">read more</a>
                            {% endif %}
                            {% endautoescape %}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}