{% extends 'blog/blog_base.html' %}

{% block content %}
<div class="body-container site-content first">
    <div class="page-content">
        <div>
            {% if post.published_date %}
                <p class="blog-date">
                    {{ post.published_date.date }}
                </p>
            {% endif %}
            <h1>{{ post.title }}</h1>
            {% autoescape off %}
                {{ post.text|linebreaksbr }}
            {% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}