/*============================================================================
Initial site CSS allows for a sticky footer
============================================================================*/

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.site-content {
  flex: 1;
}

/*============================================================================
Body and bulk page content
============================================================================*/

body {
    font-family: 'Quicksand', sans-serif;
}

.body-container {
    width: 960px;
    margin: auto;
    margin-top: 70px;
}

.page-content {
    display: inline-block;
    padding: 0 25px 50px 25px;
    height: inherit;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.extra-margin {
    margin-bottom: 30px;
}

.publications p {
    margin-bottom: 20px;
}

hr {
    display: block;
    border-style: solid;
    border-width: 0.5px;
    color: #c5ced8;
}

h1 {
    color: #123C69;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    padding-bottom: 15px;
}

h2 {
    color: #123C69;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
}

h2.job-title {
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
}

h2.company {
    font-size: 18px;
}

h2.company a:hover {
    color: #f44336;
    text-decoration: underline;
}

h3 {
    color: #123C69;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    margin-top: 0;
}

h3.pi {
    font-size: 16px;
}

p {
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    color: #123C69;
}

ul {
    margin-bottom: 30px;
}

li {
    color: #123C69;
}

li a:hover {
    color: #f44336;
    text-decoration: underline;
}

.read-more {
    color: #f44336;
}

.read-more:hover {
    color: #f44336;
    text-decoration: underline;
}

h1.blog-h1 {
    margin-top: 0;
}

h1.blog-h1 a {
    color: #123C69;
}

h1.blog-h1 a:hover {
    color: #123C69;
    text-decoration: underline;
}

a {
  color: #f44336;
  text-decoration: none;
}

a:hover {
    color: #f44336;
    text-decoration: underline;
}

p a:hover {
    color: #f44336;
    text-decoration: underline;
}

.full-width {
    width: 100%;
}

p.blog-date {
    font-size: 16px;
    padding-bottom: 0;
}

.light-blog {
    background-color: #fff;
    padding-bottom: 30px;
}

.dark-blog {
    background-color: #f5f5f7;
    padding-bottom: 30px;
}


.dark {
    background-color: #f5f5f7;
}

.first {
    padding-top: 60px;
}

.last {
    padding-bottom: 40px;
}

.fun-facts-list li {
    padding-top: 6px;
    padding-bottom: 6px;
}

.journal-title {
    font-style: italic;
}

code {
    padding: 2px 4px;
    font-size: 80%;
    color: #F44336;
    background-color: #F8F8F8;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.blog-detail {
    padding-bottom: 25px;
    color: #123C69;
}

.goals-binder {
    float: right;
    margin: 5px;
    width: 300px;
}

.footer-envelope {
    padding: 2px;
}

.emphasis {
    color: #f44336;
}

.halloween-desktop {
    margin-bottom: 30px;
    padding-left: 0;
}

.quote {
    text-align: center;
}

.hello-world p {
    padding-bottom: 15px;
}

.static-content-list li {
    padding-top: 4px;
    padding-bottom: 4px;
}

.fb-comments {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.twitter-share-button {
    margin-left: 10px;
}

.fb-share-button {
    margin-bottom: 15px;
}

/*============================================================================
Media queries for mobile and tablet responsiveness
============================================================================*/
@media screen and (max-width: 2000px) {
    .hide-for-desktop {
        display: none;
    }

    .special-tablet {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .hide-for-desktop {
        display: none;
    }

    .special-tablet {
        display: none;
    }

    .body-container {
        width: 700px;
    }

    #nav-bar-container {
        width: 700px;
    }

    .container {
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .hide-for-tablet {
        display: none;
    }

    .special-tablet {
        display: inherit;
    }

    .body-container {
        width: 600px;
        margin-top: 60px;
    }

    #nav-bar-container {
        width: 600px;
    }

    .nav-bar {
        height: 70px;
        line-height: 70px;
    }

    .name-block {
        height: 70px;
        line-height: 70px;
    }

    .nav-desktop ul {
        bottom: 70px;
    }

    .nav-desktop li {
        display: inline-block;
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .container {
        width: 600px;
    }

    .display-3 {
        margin-top: 60px;
    }

    h1.display-3 {
        font-size: 63px;
    }

    p.jumbo-subheader {
        font-size: 28px;
    }
}

@media screen and (max-width: 640px) {
    .hide-for-mobile {
        display: none;
    }

    .special-tablet {
        display: none;
    }

    .hide-for-tablet {
        display: inherit;
    }

    .body-container {
        width: 300px;
        margin-top: 70px;
    }

    .page-content {
        width: 300px;
    }

    #nav-bar-container {
        width: 315px;
        margin: 0;
    }

    .nav-bar {
        height: 70px;
        line-height: 70px;
    }

    .mobile-name-block {
        height: 70px;
        line-height: 70px;
        font-size: 43px;
        background-color: #123C69;
        color: #fff;
        font-family: 'Amatic SC', serif;
        text-align: left;
        padding-left: 15px;
    }

    .mobile-name-block a {
        color: #123C69;
    }

    .nav-desktop ul {
        padding-top: 10px;
        text-align: center;
    }

    .container {
        width: 500px;
    }

    .display-3 {
        margin-top: 60px;
    }

    h1.display-3 {
        font-size: 53px;
    }

    p.jumbo-subheader {
        font-size: 28px;
    }

    .welcome-message {
        width: -webkit-fill-available;
        padding-right: 20px;
    }

    .full-width {
        margin-bottom: 20px;
    }

    .goals-binder {
        margin: 5px;
        width: inherit;
        padding-bottom: 15px;
    }
}
